doctype html
html
    head
        title= title
        link(rel='stylesheet', href='static/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='static/javascripts/global.js')